@import './imported_1.css' (min-width: 600px);
/* @import './imported_2.css'; */

.center {
  text-align: center;
}

.bg-card {
  /* background-image: url("https://images.unsplash.com/photo-1603979650012-3b01cdb04e69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=80"); */
  background-image: url("../assets/card-bg.jpg");
  background-size: cover;
  margin-top: 50px;
  text-align: center;
  padding: 100px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 40px;
  color: white;
}

.i-box {
  display: inline-block;
  background-color: red;
  padding: 40px;
  border-radius: 8px;
}
